<div class="w-100">
  <ul class="nav nav-pills nav-justified mx-auto w-70">
    <li class="nav-item" *ngFor="let step of steps;let i = index">
      <div class="d-grid">
        <button
          (click)="onClick(i)"
          [class.active]="selectedIndex === i"
          class="nav py-3 fw-bold d-flex justify-content-end align-items-center border-0 bg-white">
            <hr class="w-65 me-1 ms-1" [ngStyle]="{'visibility':i==0 ? 'hidden': 'visible'}">
            <span class="w-25 step-link ms-1">{{i}}</span>
            <span class="mt-3 step-label" [ngStyle]="{'margin-right': i==1||i==2 ? '-4px':'-12px'}">{{step.label}}</span>
          </button>
        </div>
    </li>
  </ul>
  <div *ngIf="selected">
    <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
  </div>
</div>
